/*.custom-loading-text {
    transform: rotate(-90deg);
    position: absolute;
    top: -0.5rem;
    left: -2.5rem;
    white-space: nowrap;
    font-weight: bold;
}

.spinner {
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255,.5);
    z-index: 10000;
    min-height: 101vh;
}*/